#ifndef FONT
#define FONT -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-iso10646-*
#endif

#ifndef XFT_FONT
#define XFT_FONT Terminus:pixelsize=12:encoding=iso10646
#endif

#ifndef DPI
#define DPI 96
#endif

Xft.dpi: DPI
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*font: FONT
i3wm.xft_font: XFT_FONT

! zenburn
*background: #3f3f3f
*foreground: #dcdccc
*cursorColor: #dcdccc
! black
*color0: #3f3f3f
*color8: #9fafaf
! red
*color1: #cc9393
*color9: #dca3a3
! green
*color2: #7f9f7f
*color10: #80d4aa
! yellow
*color3: #c3bf9f
*color11: #ffcfaf
! blue
*color4: #6ca0a3
*color12: #8cd0d3
! magenta
*color5: #bca3a3
*color13: #ecbcbc
! cyan
*color6: #93b3a3
*color14: #cbecd0
! white
*color7: #dcdccc
*color15: #ffffff

XTerm*borderWidth: 0
XTerm*internalBorder: 2
XTerm*termName: xterm-256color
XTerm*utf8: true
XTerm*vt100.utf8: true
XTerm*vt100.locale: false
XTerm*vt100.metaSendsEscape: true
XTerm*vt100.saveLines: 10240
XTerm*vt100.scrollBar: false
XTerm*vt100.bellIsUrgent: true
XTerm*vt100.translations: #override \
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD)
XTerm*allowBoldFonts: false
XTerm*scrollKey: true
XTerm*scrollTtyOutput: false
XTerm*fullscreen: never
XTerm*cutToBeginningOfLine: false
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on2Clicks: word
XTerm*on3Clicks: line
